<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
    <% include partials/navbar %>

    <div class="container mt-5">
      <h1>  Results for <%= results.election.name %> on <%= results.election.electionDay %> </h1>
      <h3> The following candidates will be running for <%= results.contests.office %> </h3>
      <div class="row">
        <% if (results.candidates.length) { %>
          <% results.candidates.forEach(function (candidate) { %>
            <div class="card text-center mr-3 col-sm-2">
              <img src=<%= candidate.photoUrl %> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= candidate.name %></h5>
                <h6 class="card-title">Party: <%= candidate.party %></h6>
                <a href="#" class="btn btn-primary">See Info</a>
                <a href="#" class="btn btn-primary mt-2">Select</a>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <h1>Currently there is no information about upcoming elections in your district.</h1>
        <% } %>
      </div>
      <div class="row">
        
      </div>
    
    </div>

    <% include partials/script %>
</body>
</html>